.s-bonus{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.s-cards-bonus{
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-direction: row;
}

.b-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;

    height: 300px;
    border: 1px solid #3B82F6;
    width: 300px;
    border-radius: 1rem;
}

.b-card-precos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}