.hero{
    padding: 40px 16px 0px 16px;
    background-size:cover;           
    background-repeat:no-repeat;
    background-position:center center;

}

.c-hero{
    display: flex;
    flex-direction: column;

    gap: 3rem;
    padding: 40px 16px 0px 16px;

}

.display{
    display: flex;
    flex-direction: column;

    gap: 1rem;
}


.cta{
    display: flex;
    flex-direction: column;

    gap: 2rem;

    & .cta-text{
        display: flex;
        flex-direction: column;
        
        gap: 1rem;

        & .cta-text, h4{
            font-weight: 350;
        }
    }

    & form{
        display: flex;
        flex-direction: column;
        
        gap: 1rem;
    }
}

.o-siga{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .o-sociais{
        display: flex;
        gap: 1rem;
    }
}

.foto{
    width: 100%;
    height: 510px;  
    background-image: url('../assets/foto.png');
    background-size: cover;
    background-position: center;
}

.o-countdown{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
}

.o-contagem{
    display: flex;
    flex-direction: flex;
    align-items: center;

    gap: 4px;
}

.progresso{
    border: 1px solid rgb(178, 178, 178);
    width: 100%;
    height: fit-content;
}

.p-80{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    background: linear-gradient(297deg, #3B82F6 0%, #8B5CF6 100%);
    height: fit-content;
    padding-left: 1rem;

    & .p-80, h1{
        color: white;
    }
}



@media screen and (min-width: 768px) and (max-width: 1023px){
    
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .display{
        width: 768px;
    }

    .c-hero{
        display: flex;
        flex-direction: row;
    
        gap: 3rem;
        padding: 40px 24px 0px 24px;
    
    & .foto{
        width: 100%;
        height: auto;
        background-image: url('../assets/foto.png');
        background-size: cover;
        background-position: center;
    }

    }
    
}

@media screen and (min-width: 1024px){
    
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .display{
        width: 1024px;
    }

    .c-hero{
        display: flex;
        flex-direction: row;
    
        gap: 3rem;
        padding: 40px 24px 0px 24px;
    
    & .foto{
        width: 100%;
        height: 400px;
        background-image: url('../assets/foto.png');
        background-size: cover;
        background-position: center;

    }

    }
    
}