.mentora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3rem;
}

.c-mentora{
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
    padding: 0px 16px 0px 16px;
}

@media screen and (min-width: 1024px){
    
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .display{
        width: 1024px;
    }

    .c-mentora{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        gap: 1.5rem;
        padding: 0px 16px 0px 16px;
    }

    .c-mentora-text{
        width: 50vw;
    }

    .foto{
        height: auto;
    }

}