.modulos{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3rem;

    padding: 0px 16px 0px 16px;
}

#modulos{
    display: flex;
    flex-direction: column;

    gap: 1rem;

    

    & .m-text{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        margin-bottom: 2rem;
    }

    & .m-card{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 16px;

        color: #414141;
        border: 1px solid #d1d1d1;

        & p{
            width: fit-content;
        }
    }
}