.s-youtube{
    display: flex;
    flex-direction: column;

    gap: 1rem;
    padding: 0px 16px 0px 16px;
}

.y-text{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.y-text-info{
    display: flex;
    flex-direction: column;
    text-align: left;

    gap: 1rem;


    & .y-text-info, p{
        font-weight: bold;
    }
}

.y-tag{
    padding: 8px 12px 8px 12px;
    background: #9747FF;
    width: fit-content;

    & .y-tag, h5{
        color: white;
    }
}

.y-dia-anuncio{
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

/* .y-tag{
    padding: 8px 12px 8px 12px;
    background: red;

    width: fit-content;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -130px;
    text-align: center;
} */