*{
    font-family: "Poppins";
    font-style: normal;
    color: #414141;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

h6{
    font-size: 14px;
}

p{
    font-size: 16px;
}

span{
    font-size: 12px;
}

a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

label{
    font-size: 14px;
    font-weight: 500;

}

li{
    font-size: 14px;
    font-weight: 500;

    text-decoration: none;
}

button{
    font-size: 14px;
    width: 100%;
    display: flex;
    font-weight: 400;
    padding: 12px 16px 12px 16px;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    border: none;
    background: linear-gradient(297deg, #3B82F6 0%, #8B5CF6 100%);

    & button, h6{
        color: white !important;
    }
}

.div-button{
    font-size: 16px;
    width: 100%;
    display: flex;
    font-weight: 600;
    padding: 12px 16px 12px 16px;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    border: none;
    background: linear-gradient(297deg, #3B82F6 0%, #8B5CF6 100%);

    & .div-button, a{
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }
}

input{
    display: flex;
    padding: 14px 8px;
    align-items: center;


    background-color: #d9d9d900;
    border: 1px solid #D9D9D9;

}

.tag{
    padding: 8px 24px 8px 24px;
    width: fit-content;
    
    border: 1px solid #9747FF;
    color: 9747FF;
    border-radius: 8px;

    & span{
        color: #9747FF;
    }
}

.bold{
    font-weight: 600;
    color: #9747FF;
}

.bold-outline{
    color: white; /* Cor do texto */
    text-shadow: 
      -1px -1px 0 #9747FF,  
       1px -1px 0 #9747FF,  
      -1px  1px 0 #9747FF,  
       1px  1px 0 #9747FF; /* Cria o contorno preto */
}