<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/tipografia.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="../public/css/obrigado.css">
    <link rel="stylesheet" href="../public/css/s-youtube.css">
    <link rel="stylesheet" href="../public/css/s-modulos.css">
    <link rel="stylesheet" href="../public/css/s-sobre.css">
    <link rel="stylesheet" href="../public/css/s-mentora.css">
    <link rel="stylesheet" href="../public/css/footer.css">

</head>
<body>
    <main class="container">
        <section class="hero">
        <div class="display"> 
            <div class="logo">
                <h4>MARTA RIBEIRO</h4>
                <img src="../public/assets/LOGO.svg" alt="">
            </div>
                <!-- <h1 class="bold-outline" style="font-size: 6rem; line-height: 100%; width: 100%; word-break: break-all;">Obrigado por se inscrever</h1> -->
                <div class="progresso">
                    <div class="p-80">
                        <h1>Sua inscrição está 90% completa..</h1>
                    </div>
                    <div class="p-20">

                    </div>
                </div>
                <div class="o-siga">
                    <div class="o-countdown">
                        <a id="o-whatsapp-button" class="div-button" href="#hero" style="width: fit-content; display: flex; gap: 1rem;"> <!--Fazer countdown e redirecionar para o whatsapp-->
                            Entre no grupo do whatsapp
                            <img src="../public/assets/arrow-up.svg" alt="">
                        </a>
                        <div class="o-contagem">
                            <p id="o-contador" style="font-size: 14px;"></p>
                        </div>
                    </div>
                    <!-- <h4 class="bold">Me siga nas redes sociais</h4>
                    <div class="o-sociais">
                        <a href="https://www.instagram.com/soueumartaribeiro/" style="width: 24px;" target="_blank"><img src="/public/assets/instagram.svg" alt=""></a>
                        <a href="https://www.google.com/search?q=Cl%C3%ADnica+Terap%C3%AAutica+Marta+Ribeiro%0D%0A&sca_esv=d5800e4590f8577b&rlz=1C1VDKB_enBR1139BR1139&sxsrf=ADLYWIIDr0UqIfCZe1Q3l1EeyflwsIl_5A%3A1736296824546&ei=eMl9Z8iFIeGS5OUP9JyJyA8&ved=0ahUKEwjIoc7b8eSKAxVhCbkGHXROAvkQ4dUDCBA&uact=5&oq=Cl%C3%ADnica+Terap%C3%AAutica+Marta+Ribeiro%0D%0A&gs_lp=Egxnd3Mtd2l6LXNlcnAiJENsw61uaWNhIFRlcmFww6p1dGljYSBNYXJ0YSBSaWJlaXJvCjIKEAAYgAQYQxiKBTIKEAAYgAQYQxiKBTITEC4YgAQYsQMY0QMYQxjHARiKBTILEAAYgAQYsQMYgwEyCBAAGIAEGLEDMggQABiABBixAzIIEAAYgAQYsQMyCBAAGIAEGLEDMggQABiABBixAzIQEAAYgAQYsQMYgwEYigUYCkjvHlCYBViNHXAFeACQAQCYAYkBoAGHA6oBAzAuM7gBA8gBAPgBAfgBApgCB6ACngLCAggQABiwAxjvBcICCxAAGIAEGLADGKIEwgIEECMYJ8ICChAjGIAEGCcYigXCAggQLhiABBixA8ICEBAAGIAEGLEDGEMYgwEYigXCAgoQLhiABBhDGIoFwgIFEAAYgASYAwCIBgGQBgSSBwM1LjKgB5UX&sclient=gws-wiz-serp" style="width: 24px;" target="_blank"><img src="/public/assets/google.svg" alt=""></a>
                    </div> -->
                </div>
        </div>
        </section>

        <section>
            <div class="display">
                <div class="modulos">
                    <div class="tag"><span>Módulos</span></div>
                    <div id="modulos">
                        <div class="m-text">
                            <h2 class="bold">O que você vai aprender?</h2>
                            <p>O objetivo do curso é relembrar e lhe ajudar
                                nas execuções das técnicas clássicas de
                                massagem, e pricipalmente lhe ensinar
                                sobre a linguagem corporal.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sobre">
            <div class="display">
                <div class="banner">
                    <div class="banner-text">
                        <p>É um curso desenvolvido a partir da
                            <h3>insatisfação de métodos ineficazes de
                            massagem</h3> que não aliviam realmente as
                            dores. Por isso foi feito a <h3>integração de
                            linguagem corporal</h3> com técnicas clássicas de massagem.</p>
                    </div>
                </div>
            </div>
        </section>


        <footer>
            <div class="f-display">
                <div class="f-desc">
                    <h6>Marta Ribeiro  2024. Todos os direitos reservados</h6>
                    <div class="f-sociais">
                        <a href="https://www.instagram.com/soueumartaribeiro/" style="width: 24px;" target="_blank"><img src="../public/assets/instagram.svg" alt=""></a>
                        <a href="https://www.google.com/search?q=Cl%C3%ADnica+Terap%C3%AAutica+Marta+Ribeiro%0D%0A&sca_esv=d5800e4590f8577b&rlz=1C1VDKB_enBR1139BR1139&sxsrf=ADLYWIIDr0UqIfCZe1Q3l1EeyflwsIl_5A%3A1736296824546&ei=eMl9Z8iFIeGS5OUP9JyJyA8&ved=0ahUKEwjIoc7b8eSKAxVhCbkGHXROAvkQ4dUDCBA&uact=5&oq=Cl%C3%ADnica+Terap%C3%AAutica+Marta+Ribeiro%0D%0A&gs_lp=Egxnd3Mtd2l6LXNlcnAiJENsw61uaWNhIFRlcmFww6p1dGljYSBNYXJ0YSBSaWJlaXJvCjIKEAAYgAQYQxiKBTIKEAAYgAQYQxiKBTITEC4YgAQYsQMY0QMYQxjHARiKBTILEAAYgAQYsQMYgwEyCBAAGIAEGLEDMggQABiABBixAzIIEAAYgAQYsQMyCBAAGIAEGLEDMggQABiABBixAzIQEAAYgAQYsQMYgwEYigUYCkjvHlCYBViNHXAFeACQAQCYAYkBoAGHA6oBAzAuM7gBA8gBAPgBAfgBApgCB6ACngLCAggQABiwAxjvBcICCxAAGIAEGLADGKIEwgIEECMYJ8ICChAjGIAEGCcYigXCAggQLhiABBixA8ICEBAAGIAEGLEDGEMYgwEYigXCAgoQLhiABBhDGIoFwgIFEAAYgASYAwCIBgGQBgSSBwM1LjKgB5UX&sclient=gws-wiz-serp" style="width: 24px;" target="_blank"><img src="../public/assets/google.svg" alt=""></a>
                    </div>
                </div>
                <h6>Site desenvolvido por <strong>Meoli</strong></h6>
            </div>
        </footer>

        <script>
            let segundos = 40
    
            const contador = document.getElementById('o-contador')
            const whatsapp = document.getElementById('o-whatsapp-button')
            whatsapp.addEventListener("click", true)
            // if(whatsapp = true){
            //     console.log('botao funcionado')
            // }
    
            const contagem = setInterval(() => {
                contador.textContent = `Você será redirecionado em ${segundos}`
                segundos--
                
                if(whatsapp = true){
                    console.log('botão funcionado')
                }

                if(segundos < 0){
                    clearInterval(contagem)
                    window.location.href = 'https://www.instagram.com/correderua/'
                }
            }, 1000);
        </script>
    </main>

</body>
</html>